<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="PreProcessorToLower"
          class="org.example.classes.PreProcessorToLowerImpl">
    </bean>
    <bean id="PreProcessorToUpper"
          class="org.example.classes.PreProcessorToUpperImpl">
    </bean>
    <bean id="printerWithPrefix"
          class="org.example.classes.PrinterWithPrefixImpl">
        <property name="prefix" value="prefix">
        </property>
        <constructor-arg>
            <bean class="org.example.classes.RendererStandardImpl">
                <constructor-arg>
                    <bean class="org.example.classes.PreProcessorToUpperImpl"/>
                </constructor-arg>
            </bean>
        </constructor-arg>
    </bean>


</beans>